obj/
config/workdir_*
*~
*.root
!data/*.root
!data/ElectronSFs_UL/UL16postVFP/*.root
!data/ElectronSFs_UL/UL16preVFP/*.root
!data/ElectronSFs_UL/UL17/*.root
!data/ElectronSFs_UL/UL18/*.root
*.png
*.gif
*.pyc
*.tar.gz
*.o
*.d
*.txt
*.log
*.eps
*.pdf
*.DS_Store
